<form (ngSubmit)="SignUp()" class="signup-form">
  <h2>Inscription</h2>

  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Entrez votre prénom" [(ngModel)]="data.firstName" name="firstName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Entrez votre nom" [(ngModel)]="data.lastName" name="lastName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Entrez votre email" [(ngModel)]="data.email" name="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" placeholder="Entrez votre mot de passe" [(ngModel)]="data.password" name="password" required>
  </mat-form-field>



  <button mat-raised-button color="primary" type="submit">S'inscrire</button>
</form>

